<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.com.changyou" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="游租"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginInActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginUpActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".HouseListActivity"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".NavActivity"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".HouseDetailActivity"
            android:parentActivityName=".HouseListActivity" >
        </activity>
        <activity
            android:name=".BookedActivity"
            android:parentActivityName=".HouseDetailActivity" >
        </activity>
        <activity
            android:name=".SearchMoreActivity"
            android:parentActivityName=".HouseListActivity" >
        </activity>
        <activity
            android:name=".LoadImgActivity"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".NavOutActivity"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity android:name=".ChangePasswordActivity" >
        </activity>

        <service
            android:name=".polling.PollingService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity android:name=".ApplyActivity">
            <intent-filter>
            <action android:name="android.intent.action.APPLY" />
            </intent-filter>
        </activity>
    </application>

</manifest>
